
  nav ul li a{
    font-size: 20px !important;
   
    color: rgba(255, 255, 255, 0.5) !important;
  }
  nav ul {
    width: 100%;
  }
  nav ul li a svg{
    margin-right: 20px;
  }
  nav ul li{
    padding: 15px;
  }
  nav ul li:hover{
    
  
  }
  nav ul li:hover a{
    color: white !important;
    
  }
  nav ul li{
    border-left: 3px solid  transparent;
  }
  
  .myActive{
    /* border-left: 2px solid white; */
    
    
    border-left: 3px solid #fff;
   
    background-color: rgba(255, 255, 255, 0.123);
    
    
  }
  nav ul li a:active{
    /* border-left: 1px solid white; */
  }
  .active::before{
    /* opacity: 1;
    content: "";
    visibility: visible;
    border-left: 3px solid #fff;
    padding: 12px 15px;
    background-color: rgba(255, 255, 255, 0.123);
    margin-left: -33px;
    top: 0;
    bottom: 0; */
  }
  .nav-link::before{
    
  }
  /* add themecolor */
  .theme-light ul li a{
    color: #1E2022 !important;
    
  }
  .theme-light ul li:hover a{
    color: #2196F3 !important;
  }
  .theme-light  .myActive{
    /* border-left: 2px solid white; */
    
    
    border-left: 3px solid #2196F3;
   
    background-color: #2195f325 ;
    
    
  }
  
  .theme-light  .myActive a{
    color:#2196F3 !important; 
  }
  