.gr-icon-text{
    .icon{
        img {
            height: 36px;
            width: 36px;
        }
    }
    .text {
        a {
            color: var(--color-light-action-primary);
        }
    }
}