.title{
    padding: 20px 0;
    .title-main{
        
        font-size: 14px;
        text-transform: uppercase;
        color: var(--color-light-primary);
        font-weight: 800;
        .subtitle{
            text-transform: none;
            color: var(--color-light-secondary);
            font-weight: 500;
        }
    }
    .bg-title{
        background-color: var(--color-bg-title);
        height: 5px;
        margin: 10px 0;
    }
}