.gr-timeline{
    
    .time{
        font-size: 40px;
        color: var(--color-light-secondary);

    }
    .content{
        font-size: 18px;
        font-weight: 700;
        color: var( --color-light-primary);
        text-transform: uppercase;

    }
}