
:root {
  --color-light-primary: #252525;
  --color-light-secondary: #6E6E6E;
  --color-white: white;
  --color-light-action-primary: #5A56E9;
  --color-hover-button-dark: #3530b9;
  --color-box-shawdown:rgba(66, 18, 18, 0.1);
  --font-family: "Montserrat", Times, serif;
  --color-bg-baget:#EEEEFD;
  --color-bg-blue:#E6E6FC;
  --color-bg-light-default:#f9f9fc;
  --color-bg-dark-default:#C8C8C8;

}
.fixed{
  position: fixed;
  padding: 20px;
  width: inherit;
  
}
.fix-top{
  position:fixed;
  top: 0;
 border-bottom: 1px solid var(--color-bg-dark-default);
  width: 100%;
  margin-left: -20px;
    z-index: 1;
    background: #ffffff;
}
.fix-top h1{
text-transform: uppercase;
padding: 20px;
font-weight: 700px !important;
text-transform: uppercase;

}
.App {
  background: var(--color-bg-light-default);
  padding: 20px;
 
}
.tab-selection{
  padding: 0px 20px 60px 0 ;
}
/* .tab-selection nav ul li a{
  font-size: 20px !important;
}
.tab-selection nav ul li a svg{
  margin-right: 20px;
}
.tab-selection nav ul li{
  padding: 15px;
}
.tab-selection nav ul li:hover{
  background: rgba(255, 255, 255, 0.123);

}
.tab-selection nav ul li:hover a{
  color: white !important;
  
} */
.txt-secondary{
  color: var(--color-light-secondary) ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-light{
  background: var(--color-bg-light-default);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
